doctype html
html(ng-app="tl")
    head
        script(src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript")
        link(rel="stylesheet" href="/static/css/styles.compiled.css")
    body

        div(ng-controller="VKLoginController")#login_button(onclick="VK.Auth.login(authInfo);")
            = "Login"

        div(ng-view)

        script(src="/bower_components/angular/angular.min.js" type="text/javascript")
        script(src="/bower_components/angular-cookies/angular-cookies.min.js" type="text/javascript")
        script(src="/bower_components/angular-route/angular-route.min.js" type="text/javascript")
        script(src="/static/js/app.compiled.js" type="text/javascript")
        script(src="//vk.com/js/api/xd_receiver.js" type="text/javascript")
        script(src="//vk.com/js/api/openapi.js" type="text/javascript")
        script(src="/static/js/vendor/vk-init.js" type="text/javascript")
